.row {
  margin: 0;
}

.orange-btn {
  display: block;
  width: 207px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.6em;
  line-height: 1em;
  padding: 14px 0;
  background-color: #FF6426;
  letter-spacing: 1px;
  font-weight: 500;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -104px;
  z-index: 9;
}

.orange-btn:hover {
  background-color: #F34120;
  color: white;
  text-decoration: none;
}

.section {
  position: relative;
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
}

.section .container {
  margin: 0;
  padding: 50px;
  background-color: #eee;
  width: 100%;
  position: relative;
}

.section.white .container {
  background-color: white;
}

.section.black {
  background: black url(../img/contacts_bg.jpg) 0 0 no-repeat;
  background-size: 100% auto;
  margin-top: -20px;
  padding-top: 20px;
  z-index: 1;
  color: white;
}

.section.black .container {
  background-color: transparent;
}

.section .chevron {
  height: 0;
  border-top: 77px solid #eee;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.section.white .chevron {
  border-top-color: white;
  background-color: #eee;
}

.section.front {
  background: white url(../img/main.png) 0 0 no-repeat;
  background-size: 100% auto;
}

.section.front img {
  max-width: 100%;
  float: left;
  position: relative;
  z-index: -1;
}

.section.front .container {
  padding: 280px 100px 0;
  background-color: transparent;
  height: 661px;
}

.section.front .chevron {
  border: none!important;
}

.front .container {
  color: white;
  text-align: center;
}

.front .company-name {
  font-family: Arial, sans-serif;
  font-size: 5em;
  margin-bottom: 45px;
  margin-top: 0;
}

.front .slogan {
  width: 45%;
  margin: 0 auto;
  font-style: italic;
  font-size: 2.5em;
  font-weight: 300;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 0;
}

.section .section-title:before {
  display: block;
  width: 86px;
  border-top: 2px solid #333333;
  content: ' ';
  margin: 0 auto 12px auto;
}

.section.black .section-title:before {
  border-color: white;
}

.section-text-narrow {
  width: 768px;
}

.section-text-wide {
  width: 1200px;
}

.sponsors {
  margin-top: 10px;
}

.small-section-column {
  text-align: center;
  margin-top: 40px;
}

.small-section-column .area-icon {
  height: 46px;
  width: 47px;
  margin: 0 auto;
  background: transparent url(../img/areas-sprite.png) 0 0 no-repeat;
}

.small-section-column h3 {
  margin: 20px 0 40px;
  font-weight: 400;
  color: black;
}

.small-section-column p {
  color: #3A3C3F;
}

.small-section-column.area-responsive-design .area-icon {
  background-position: 0 0;
}

.small-section-column.area-mobile-services .area-icon {
  width: 27px;
  background-position: 0 -47px;
}

.small-section-column.area-native-apps .area-icon {
  background-position: 0 -94px;
}

.small-section-column.area-testing .area-icon {
  height: 47px;
  background-position: 0 -142px;
}

.small-section-column.area-project-management .area-icon {
  height: 47px;
  width: 75px;
  background-position: 0 -189px;
}

.small-section-column.area-strategic-advice .area-icon {
  width: 48px;
  background-position: 0 -237px;
}

.small-section-column p {
  text-align: left;
}

@media screen and (max-width: 1680px) {
  .section.front .container {
    padding-top: 240px;
    height: 576px;
  }
}

@media screen and (max-width: 1380px) {
  .section.front .container {
    padding-top: 220px;
  }
}

@media screen and (max-width: 1280px) {
  .section.front .container {
    padding: 80px 50px 0;
    height: 505px;
  }

  .front .company-name {
    font-size: 3.5em;
    margin-bottom: 60px;
    margin-top: 0;
  }

  .front .slogan {
    width: 55%;
    font-size: 2em;
  }

  .section .container {
    padding: 20px 10px;
  }

  .section-text-wide {
    width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  .section.front .container {
    padding: 80px 30px 0;
    height: 410px;
  }

  .front .company-name {
    font-size: 3em;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .front .slogan {
    width: 75%;
    font-size: 2em;
  }

  .section .container {
    padding: 20px 10px;
  }

  .section-text-narrow,
  .section-text-wide {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .section.front {
    background: white url(../img/main.png) 50% 0 no-repeat;
    background-size: 120% auto;
  }

  .front .company-name {
    font-size: 2.5em;
    margin-top: 0;
  }

  .front .slogan {
    width: 75%;
    font-size: 1.7em;
  }

  .section .container {
    padding: 20px 10px;
  }

  .section.front .container {
    padding: 40px 10px;
    background-color: transparent;
  }

  .section-title {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .section.front .container {
    padding: 30px 10px;
    height: 240px;
  }

  .section.front {
    background-size: 150% auto;
  }

  .front .company-name {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .front .slogan {
    width: 85%;
    font-size: 1.2em;
  }

  .section .container {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 320px) {
  .section.front .container {
    height: 200px;
  }
}