// bower:scss
// endbower

@import "bootstrap";
@import "utils";

body {
  font-family: Arial, sans-serif;
}

a, a:hover, a:active {
  text-decoration: none !important;
  outline: none !important;
  border: 0 !important;
  color: white;
}

.row {
  margin: 0;
}

.blurred {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  @include transition(all 0.5s ease);
  transform: translatez(0);
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-color: black;
}

.orange-btn {
  display: block;
  width: $btn-width;
  height: $btn-height;
  color: white;
  text-align: center;
  text-decoration: none;
  @include font-size(22);
  line-height: 1em;
  padding: 14px 0;
  background-color: $orange;
  letter-spacing: 1px;
  font-weight: 500;
}

.absolute-center {
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -($btn-width / 2);
  z-index: 9;
}

.orange-btn:hover {
  background-color: $red-hover;
  color: white;
  text-decoration: none;
}

blockquote {
  p {
    font-style: italic;
    font-size: 1.7em;
  }

  footer {
    font-size: 1.5em;
    color: $blockquote-color;
  }
}

blockquote {
  font-family: 'Open Sans', sans-serif;
  border-left: none;

  footer {
    font-weight: lighter;
    &:before {
      content: '';
    }
  }
}

.quote {
  margin-bottom: 30px;
}

.always-visible {
  display: block!important;
}

.quote-wrap {
  overflow: hidden;

  .mobile-ef {
    float: none;
    width: 81px;
    margin: 0 auto;
    display: none;
    border: 1px solid grey;
  }

  blockquote {
    float: left;
    width: 70%;
    margin-top: 100px;

    p {
      color: $orange;
    }
  }

  img {
    float: right;
    width: 30%;
    height: auto;
  }
}

.sticky-menu-desktop {
  @include transition(all 0.5s ease);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(238, 238, 238, 0);
  z-index: 9;
  overflow: hidden;

  .header-wrap {
    @include transition(all 0.5s ease);
    width: 80%;
    left: 10%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px dotted white;

    .logo-link {
      padding: 8px 20px;
      font-size: 2em;
      float: left;

      img {
        vertical-align: baseline;
        display: inline-block;
        width: .7em;
        margin-right: -5px;
      }
    }

    .menu-items-box {
      float: right;

      a {
        @include transition(all 0.5s ease);
        position: relative;
        float: right;
        padding: 20px;
        color: white;
        font-size: 1.2em;
        margin-left: 20px;
        opacity: 1;

        &.active:after {
          content: ' ';
          position: absolute;
          bottom: 15px;
          left: 50%;
          border-top: 1px solid black;
          display: block;
          width: 60px;
          margin-left: -30px;
        }

        &:hover {
          opacity: .9;
        }
      }
    }
  }

  &.sticked {
    background-color: rgba(238, 238, 238, .7);

    .header-wrap {
      width: 100%;
      left: 0;
      border-bottom: 2px solid #eee;

      a {
        color: black;
      }
    }
  }
}

.sticky-menu {
  display: none;
  position: fixed;
  top: 100px;
  right: -335px;
  width: 385px;
  z-index: 9999;
  height: 100%;
  transform: translatez(0);
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);

  .menu-item-wrap {
    height: 50px;
    min-width: 50px;
    background-color: #191414;
    position: relative;
    z-index: 2;
    float: left;
    clear: both;
    padding: 14px 10px 16px;
    @include font-size(24);
    line-height: 24px;
    color: $orange;
    overflow: hidden;
    @include transition(all 0.5s ease);

    .icon {
      width: 32px;
      height: 32px;
      float: left;
      margin: -5px 14px 0 0;
      background: transparent url(../images/areas-sprite-1.png) -99px 0 no-repeat;
      position: relative;
      z-index: -1;
      pointer-events: none;
    }

    .title {
      float: left;
      position: relative;
      z-index: -1;
      pointer-events: none;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: transparent url(../images/ie_transparent.png) 0 0 repeat;
    }

    &.active {
      background-color: $orange;
      color: white;

      .icon {
        background-position: -132px 0;
      }
    }

    &.opener {
      display: none;
      background-color: $orange;

      .icon {
        display: block;
        width: 16px;
        height: 0;
        -webkit-box-shadow: 1px 10px 1px 1px white,1px 16px 1px 1px white,1px 22px 1px 1px white;
        -moz-box-shadow: 0 10px 0 1px white,0 16px 0 1px white,0 22px 0 1px white;
        box-shadow: 0 10px 0 1px white,0 16px 0 1px white,0 22px 0 1px white;
        margin-left: 2px;
      }
    }

    &.menu-home {
      display: none;
      .icon {
        background-position: -99px -158px;
        width: 26px;
        margin-left: 6px;
      }
    }

    &.menu-about {
      .icon {
        background-position: -99px 0;
      }

      &.active {
        .icon {
          background-position: -132px 0;  
        }
      }
    }

    &.menu-areas {
      .icon {
        background-position: -99px -33px;
        height: 30px;
      }

      &.active {
        .icon {
          background-position: -132px -33px;  
        }
      }
    }

    &.menu-citat {
      .icon {
        background-position: -96px -190px;
      }

      &.active {
        .icon {
          background-position: -127px -190px;  
        }
      }
    }

    &.menu-team {
      .icon {
        background-position: -99px -62px;
        height: 29px;
      }

      &.active {
        .icon {
          background-position: -132px -62px;
        }
      }
    }

    &.menu-careers {
      .icon {
        background-position: -99px -91px;
      }

      &.active {
        .icon {
          background-position: -132px -91px;
        }
      }
    }

    &.menu-contact {
      .icon {
        background-position: -99px -124px;
      }

      &.active {
        .icon {
          background-position: -132px -124px;
        }
      }
    }
  }
}

.content-wrap {
  transform: translatez(0);
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
}

.section {
  position: relative;
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;

  .text,
  .section-title {
    font-family: 'Open Sans', sans-serif;
  }

  .text {
    text-align: left;
    @include font-size(21);
    font-weight: 300;
    margin-bottom: 40px;
  }

  &#areas {
    .text {
      .morelink {
        color: $orange !important;
      }
    }
  }

  .question {
    @include font-size(18);
  }

  .container {
    margin: 0;
    padding: 50px;
    background-color: $grey-bg;
    width: 100%;
    position: relative;
  }

  &.quotes {
    z-index: 4;
  }

  &.white {
    z-index: 4;

    .container {
      background-color: white;
    }
  }

  &.black {
    background: black url(../images/contacts_bg.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    color: white;

    .container {
      background-color: transparent;
      padding-bottom: 50px;
    }

    .section-title {
      &:before {
        border-color: white;
      }
    }
  }

  &.careers {
    margin: 0;

    .container {
      background-color: transparent;
      margin: 0;
    }
  }

  &.front {
    background: white url(../images/main.jpg) 0 0 no-repeat;
    background-size: 100% auto;

    .container {
      padding: 250px 100px 0;
      background-color: transparent;
      height: 661px;
      color: white;
      text-align: center;
    }

    .company-name {
      font-family: Arial, sans-serif;
      @include font-size(70);
      margin-bottom: 15px;
      margin-top: 0;

      .logo {
        background: transparent url(../images/logo.png) 4px 1px no-repeat;
        font-size: 0;
        display: inline-block;
        width: 55px;
        height: 100px;
        vertical-align: bottom;
      }

      sup {
        margin-left: 10px;
        
        img {
          width: .6em;
          @include transform(rotate(45deg));
        }
      }
    }
  }

  &.footer {
    .container {
      background-color: black;
      padding-bottom: 50px;

      .section-text-wide {
        @include font-size(16);
        line-height: 22px;
      }
    }
  }

  .section-title {
    text-align: center;
    text-transform: uppercase;
    @include font-size(28);
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 0;

    &:before {
      display: block;
      width: 86px;
      border-top: 2px solid #333333;
      content: ' ';
      margin: 0 auto 12px auto;
      border-color: transparent;
    }
  }

  .section-text-narrow {
    width: 768px;
  }

  .section-text-wide {
    width: 1200px;
  }

  .small-section-column {
    text-align: center;
    
    .area-icon {
      height: 46px;
      width: 47px;
      margin: 0 auto;
      background: transparent url(../images/areas-sprite.png) 0 0 no-repeat;
    }

    .interactive {
      margin-top: 15px;
      @include font-size(24);
      font-weight: 300;

      a {
        color: $orange;

        &:hover {
          text-decoration: none;
          color: $red-hover;
        }
      }
    }

    h3 {
      margin: 20px 0 40px;
      font-weight: 400;
      color: black;
    }

    &.area-phone {
      .area-icon {
        width: 48px;
        height: 48px;
        background-position: 0 -330px;
      }
    }

    &.area-email {
      .area-icon {
        height: 35px;
        width: 49px;
        background-position: 0 -378px;
        margin-top: 7px;
        margin-bottom: 6px;
      }
    }

    &.area-location {
      .area-icon {
        width: 32px;
        background-position: 0 -414px;
      }
    }
  }
}

/* touch-specific classes */
.styled-for-touch {
  &:hover {
    text-decoration: none;
  }
}

.mobile {
  .sticky-menu-desktop {
    display: none;
  }

  .sticky-menu {
    display: block;
    top: 0;
    width: $mobile-sticky-menu-width;
    right: -$mobile-sticky-menu-width;
    background-color: $orange;
    padding-top: 35px;
    @include transition(right 0.5s ease);

    &.active {
      right: 0;
    }

    .menu-item-wrap {
      width: 100%;
      background-color: $orange;
      color: white;
      padding: 16px 10px 10px 8px;
      @include font-size(19);
      line-height: 19px;
      border-bottom: 1px solid white;

      &.opener,
      &.menu-home {
        display: block;
      }

      &.menu-home {
        margin-top: -$mobile-menu-item-width;
      }

      &.opener {
        margin-left: -$mobile-menu-item-width + 1;
        min-width: $mobile-menu-item-width;
        width: $mobile-menu-item-width;
        height: $mobile-menu-item-width;
        border: none;
        padding-top: 11px;

        .icon {
          display: block;
          width: 29px;
          height: 0;
          -webkit-box-shadow: 1px 10px 1px 1px white,1px 22px 1px 2px white,1px 34px 1px 2px white;
          -moz-box-shadow: 0 10px 0 2px white,0 22px 0 2px white,0 34px 0 2px white;
          box-shadow: 0 10px 0 2px white,0 22px 0 2px white,0 34px 0 2px white;
          margin-left: 2px;
          padding-top: 0;
          margin-top: -8px;
        }
      }

      .icon {
        width: 18px;
        height: 18px;
        margin: 0 10px 0 0;
      }

      &.menu-home {
        .title {
          position: relative;
          z-index: 1;
        }

        .icon {
          background-color: $orange;
          background-position: -166px -95px;
          height: 31px;
          margin-top: -14px;
          margin-right: -14px;
          position: relative;
          z-index: 3;
        }
      }

      &.menu-about {
        .icon {
          background-position: -166px 0;
        }
      }

      &.menu-citat {
        .icon {
          background-position: -166px -126px;
        }
      }

      &.menu-team {
        .icon {
          background-position: -164px -38px;
          width: 20px;
        }
      }

      &.menu-careers {
        .icon {
          background-position: -166px -57px;
        }
      }

      &.menu-contact {
        .icon {
          background-position: -166px -76px;
        }
      }
    }
  }
}

@media screen and (max-width: 1680px) {
  .section {
    &.front {
      .container {
        padding-top: 240px;
        height: 576px;
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  .section {
    &.front {
      .container {
        padding-top: 160px;
      }
    }

    .section-text-wide {
      width: 95%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .section {
    &.front {
      .container {
        padding: 80px 50px 0;
        height: 505px;
      }

      .company-name {
        @include font-size(49);
        margin-bottom: 35px;
        margin-top: 0;

        .logo {
          width: 49px;
          height: 87px;
          background-size: 90%;
        }
      }
    }

    .container {
      padding: 50px 10px 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .section {
    .text {
      font-size: 20px;
    }

    .container {
      padding-bottom: 25px;
    }

    &.front {
      .container {
        padding: 80px 30px 0;
        height: 410px;
      }

      .company-name {
        @include font-size(42);
        margin-bottom: 20px;
        margin-top: 0;

        .logo {
          width: 42px;
          height: 74px;
        }
      }
    }

    &.black {
      .container {
        padding-bottom: 20px;
      }
    }

    .section-text-narrow,
    .section-text-wide {
      width: 100%;
    }

    .small-section-column {
      &.responsive-justify {
        margin-bottom: 40px;

        .area-icon,
        .interactive {
          display: table-cell;
          vertical-align: middle;
        }

        .area-icon {
          width: 50px;
        }

        .interactive {
          padding-left: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  blockquote {
    p {
      font-size: 1.5em;
    }

    footer {
      font-size: 1.5em;
    }
  }

  .quote-wrap {

    blockquote {
      float: none;
      width: 100%;
      margin-top: 0;
    }

    .ef-quote {
      display: none;
    }

    .mobile-ef {
      display: block;
    }
  }

  .section {
    &.front {
      background-position: 50% 0;
      background-size: 120% auto;

      .company-name {
        @include font-size(35);
        margin-top: 0;

        .logo {
          width: 35px;
          height: 62px;
        }
      }

      .container {
        padding: 40px 10px;
        background-color: transparent;
      }
    }

    .section-text-narrow,
    .section-text-wide {
      width: 100%;
    }

    .section-title {
      @include font-size(21);
      margin-bottom: 20px;
    }

    &.footer {
      .container {
        padding-bottom: 20px;

        .section-text-wide {
          @include font-size(13);
        }
      }
    }

    .small-section-column {
      padding: 0;
      margin-bottom: 20px;

      &.responsive-justify {
        margin-bottom: 25px;

        .interactive {
          @include font-size(14);
        }

        .area-icon {
          height: 24px;
          width: 25px;
          margin: 0 auto;
        }

        &.area-phone {
          .area-icon {
            height: 24px;
            background-position: -74px -135px;
          }
        }

        &.area-email {
          .area-icon {
            height: 35px/2;
            background-position: -74px -159px;
            margin-top: 7px;
            margin-bottom: 6px;
          }
        }

        &.area-location {
          .area-icon {
            background-position: -74px -178px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  blockquote {
    font-size: 1em;
  }

  .section {
    .text {
      @include font-size(14);
    }

    .container {
      padding: 25px 10px;
    }

    &.front {
      background-size: 150% auto;

      .container {
        padding: 30px 10px;
        height: 240px;
      }

      .company-name {
        @include font-size(24);
        margin-bottom: 20px;
        margin-top: 0;

        .logo {
          width: 24px;
          height: 42px;
        }
      }
    }
  }

  .orange-btn {
    width: $mobile-btn-width;
    height: $mobile-btn-height;
    @include font-size(17);
    line-height: 1em;
    padding: 9px 0;
    background-color: $orange;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .section {
    &.front {
      .container {
        height: 200px;
      }
    }
  }
}
