$counter-digit-height: 60px;
$counter-width-sm: 38px;
$counter-width-lg: 50px;
$counter-height-sm: 65px;
$counter-height-lg: 65px;
$counter-font-size-sm: 46px;
$counter-font-size-lg: 46px;

$calculator-send-bg: #f8f8f8;

.calculator {
  @import '../styles/utils';
  @import '../styles/partials/normalize';
  @import '../styles/partials/controls';
  @import '../styles/partials/validation';

  @import 'inputrange';

  position: relative;
  font: normal #{$font-size-base}/#{$line-height} $font-family-base;
  @media (min-width: $screen-sm) {
    line-height: $line-height-sm;
  }

  * {
    box-sizing: border-box;
  }

  .calculator-wrap {
    max-width: $content-width-sm;
    padding: 0 $spacing-sm;

    @media (min-width: $screen-sm) {
      max-width: $content-width-md;
      margin: 0 auto $section-margin-bottom-sm;
    }

    @media (min-width: $screen-md) {
      max-width: $content-width-lg;
    }

    .data-sent-message {
      color: inherit;
    }

    .section-title {
      text-align: center;
      font-weight: normal;
      font-size: 2rem;
      margin: $spacing-sm 0 0;
    }

    p {
      margin: 0 0 1.5em 0;
    }

    label {
      color: initial;
      display: block;

      @media (min-width: $screen-sm) {
        display: inline-block;
        text-align: left;
      }

      &.checkboxed {
        text-indent: -20px;
        padding-left: 20px;
      }

      [type=checkbox] {
        margin-right: 4px;
        position: relative;
      }
    }

    input {
      display: initial;
      width: auto;
      outline: none;
    }

    .range-control {
      display: flex;
      margin: 0 $spacing-md 1rem;
      @media (min-width: $screen-sm) {
        margin: 0;
      }

      .range {
        flex-grow: 10;
        margin-right: 15px;
        border-width: 0;
        padding-left: 0;
        padding-right: 0;
      }

      .range-value {
        flex-grow: 0;
        width: 75px;
      }
    }

    .checkbox-control {
      margin: 15px 0;

      label {
        text-align: left;
      }
    }

    .counter {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }

    .numbers-wrap {
      list-style: none;
      padding: 0;
      margin: 1rem 0;
      display: flex;
      align-items: center;

      .numbers {

        @media (max-width: $screen-sm) {
          width: $counter-width-sm;
          height: $counter-height-sm;
          font: normal $counter-font-size-sm/1 Arial;
        }

        @media (min-width: $screen-sm) {
          width: $counter-width-lg;
          height: $counter-height-lg;
          font: normal $counter-font-size-lg/1 Arial;
        }

        background-color: #333;
        color: #fff;
        border-radius: 6px;
        margin: 0 3px;
        overflow: hidden;
        padding-top: 7px;

        &:nth-child(3) {
          margin-right: 15px;
          @media (min-width: $screen-sm) {
            margin-right: 25px;
          }
        }
      }

      .unit {
        @media (max-width: $screen-sm) {
          font-size: .7rem;
        }

        @media (min-width: $screen-md) {
          font-size: 1.5rem;
        }
      }

      .n {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transform: translateY(0);
        transition: all .3s ease-in-out;

        .i {
          height: $counter-digit-height;
          text-align: center;
        }

        @for $i from 0 through 9 {
          &.n-#{$i} {
            transform: translateY(-($i * $counter-digit-height));
            animation-delay: ($i * .1)s;
          }
        }
      }
    }
  }

  &.show-form {

    .calculator-wrap {
      padding-bottom: 0;
    }

    .calculator-send-form {
      opacity: 1;
      max-height: 800px;
    }
  }

  .calculator-send-form {
    background-color: $calculator-send-bg;
    padding: 0;
    opacity: 0;
    transition: all .3s ease-out;
    width: 100%;
    max-height: 0;
    overflow: hidden;

    .calculator-form-header {
      text-align: center;
      margin-top: $spacing-lg;
      padding: 0 $spacing-sm;
    }

    .calculator-form-wrap {
      margin: 0 auto;
      padding: 0 $spacing-md $spacing-lg $spacing-md;

      @media (max-width: $screen-sm) {
        width: auto;
      }

      @media (min-width: $screen-sm) {
        width: 320px;
      }

      .form-field {
        margin-bottom: 15px;
        position: relative;

        label {
          margin-bottom: 5px;
          color: inherit;
        }
      }

      input {
        width: 100%;
      }
    }
  }
}