@import '../utils';

$nav-bg-init:           #000000;
$nav-bg-sticked:        #fafafa;
$nav-transition-speed:  .3s;

.sticky-menu-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all $nav-transition-speed .1s ease-in-out;
  @media (min-width: $screen-sm) {
    background-color: rgba($nav-bg-init, .9);
  }
}

.header-wrap {
  @media (min-width: $screen-sm) {
    max-width: $screen-sm;
    margin: 0 auto;
    display: flex;
    align-items: center;
    transition: all $nav-transition-speed .1s ease-in-out;
  }
}

.header {
  display: flex;
  align-items: center;
  background-color: rgba($nav-bg-init, .9);
  padding: 0 $spacing-sm;
  transition: all $nav-transition-speed .1s ease-in-out;
  @media (min-width: $screen-sm) {
    background-color: transparent;
  }
}

.logo-link {
  display: block;
  overflow: hidden;
  width: $nav-height;
  height: $nav-height;

  svg {
    display: block;
    width: 160px;
    height: $nav-height;
    transition: all $nav-transition-speed ease-in-out;

    // in order to align the U
    .lt-u {
      transform: translateY(15px);
      transition: all $nav-transition-speed ease-in-out;
    }

    // Hide other letters
    .txt {
      transition: all $nav-transition-speed ease-in-out;
      opacity: 0;
    }
  }

  @media (min-width: $screen-sm) {
    width: 190px;
    svg {
      width: 100%;
      height: ($nav-height-lg - 10);
      .lt-u {
        transform: translateY(0);
      }
      .txt {
        fill: #fff;
        opacity: 1;
      }
    }
  }
}


// Hamburger menu
//

.hamburger-menu-wrap {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: $screen-sm) {
    display: none;
  }
}


// Menu nav bar
//

.menu-items-box {
  position: absolute;
  background-color: rgba($nav-bg-init, .9);
  width: 100%;
  overflow: hidden;
  padding: 0 $spacing-sm 6rem $spacing-sm;

  // Initial hide navbar
  transition: transform $nav-transition-speed ease-in-out;
  transform: translateX(-100%);
  backface-visibility: hidden;

  @media (min-width: $screen-sm) {
    overflow: visible;
    position: relative;
    text-align: right;
    background-color: transparent;
    transform: translateX(0);
    padding: 0;
  }

  .menu-item {
    position: relative;
    color: #fff;
    display: block;
    margin: $spacing-sm 0;

    // Hide when mobile nav - form is already visible
    &.menu-contact {
      display: none;
    }


    @media (min-width: $screen-sm) {
      display: inline-block;
      transition: all $nav-transition-speed ease-in-out;
      margin: .3rem;

      &.menu-contact {
        display: inline-block;
        .js-openContact & {
          &:after {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        opacity: 0;
        transition: all $nav-transition-speed ease-in-out;
        transform: translateY(4px);

        .sticked & {
          background-color: #000;
        }
      }

      &.active{
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    @media (min-width: $screen-md) {
      margin: $spacing-sm;
    }
  }
}


// Nav is opened
//

.js-openNav {
  overflow: hidden;
  .sticky-menu-desktop {
    height: 100%;
    overflow: auto;
  }

  .menu-items-box {
    transform: translateY(0);
  }
}


// Contact form
//

.contact-form-wrap {
  border-top: 2px solid rgba(255,255,255,.8);
  position: relative;

  .contact-form-header {
    color: #fff;
    margin: $spacing-sm 0 0;
    font-weight: normal;
  }

  .contact-form-send {
    text-align: right;
    margin-top: $spacing-md;
  }

  .form-field {
    position: relative;
    margin-bottom: $contact-field-margin;
  }

  // Validation

  .data-error-message,
  .data-sent-message {
    display: none;
  }

  &.data-sent {
    .data-sent-message {
      display: block;
      font-size: $font-size-lg;
      color: #fff;
      text-align: center;
      margin-top: $spacing-md
    }
    .contact-form,
    .contact-form-header {
      display: none;
    }
  }

  &.data-sent-error {
    .data-error-message {
      display: block;
      border: 1px solid $error-border-color;
      color: $error-border-color;
      padding: $error-padding;
      background-color: $error-bg-color;
      margin-top: $spacing-md
    }
  }

  @media (min-width: $screen-sm) {
    text-align: left;
    position: absolute;
    right: 0;
    background-color: rgba($nav-bg-init, .9);
    width: 400px;
    padding: $spacing-md;
    border-top: 0;
    backface-visibility: hidden;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all $nav-transition-speed ease-in-out;

    .js-openContact & {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
}


@media (min-width: $screen-sm) {
  .sticky-menu-desktop {
    // When menu get sticky
    //
    &.sticked {
      background-color: rgba($nav-bg-sticked, .9);

      .header-wrap {
        max-width: 90%;
      }

      .logo-link svg .txt {
        fill: black;
      }

      .menu-items-box .menu-item {
        color: black;
        &:after {
          background-color: black;
        }
      }
    }
  }
}