@import '../utils';

$nav-bg-init:           #000;
$nav-bg-sticked:        #fafafa;

$nav-transition-speed:  .3s;

.sticky-menu {
  display: none;
}

.sticky-menu-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($nav-bg-init, .9);
  z-index: 1000;
  //height: $nav-height;
  transition: all $nav-transition-speed .1s ease-in-out;

  @media (min-width: $screen-sm) {
    //height: $nav-height-lg;
    &.sticked {
      background-color: rgba($nav-bg-sticked, .9);
      .header-wrap {
        max-width: 90%;/*$screen-sm + 50px*/;
      }
      .logo-link svg .txt {
        fill: black;
      }
      .menu-items-box .menu-item {
        color: black;
        &:after {
          background-color: black;
        }
      }
    }
  }

  .header-wrap {
    display: flex;
    align-items: center;
    margin: 0 $spacing-sm;
    transition: all $nav-transition-speed ease-in-out;
    @media (min-width: $screen-sm) {
      max-width: $screen-sm;
      margin: 0 auto;
    }
  }

  // Logotype
  .logo-link {
    display: block;
    overflow: hidden;
    width: $nav-height;
    height: $nav-height;
    //margin: 5px 0;
    transition: all $nav-transition-speed ease-in-out;
    svg {
      display: block;
      width: 160px;
      height: $nav-height;
      transition: all $nav-transition-speed ease-in-out;
      .lt-u {
        transform: translateY(15px);
      }

      .txt {
        transition: all $nav-transition-speed ease-in-out;
        opacity: 0;
      }
    }

    @media (min-width: $screen-sm) {
      background-image: none;
      height: ($nav-height-lg - 10);
      width: 230px;
      transition: width $nav-transition-speed ease-in-out;
      svg {
        width: 100%;
        height: ($nav-height-lg - 10);
        transition: all $nav-transition-speed $nav-transition-speed ease-in-out;
        .lt-u {
          transform: translateY(0);
        }
        .txt {
          transition: all $nav-transition-speed ease-in-out;
          fill: #fff;
          opacity: 1;
        }
      }
    }
  }

  // Hamburgermenu
  .hamburger-menu-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  // Navigation
  .menu-items-box {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: $nav-height;
    background-color: rgba($nav-bg-init, .9);
    transition: all $nav-transition-speed ease-in-out;
    opacity: .6;
    transform: translateX(-100%);
    backface-visibility: hidden;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @media (min-width: $screen-sm) {
      position: relative;
      top: 0;
      padding-bottom: 0;
      text-align: right;
      transform: translateX(0);
      background-color: transparent;
      opacity: 1;
      z-index: 1;
      overflow: visible;
    }

    .menu-item {
      position: relative;
      color: white;
      display: block;
      margin: $spacing-sm 0;
      padding: 0 $spacing-sm;
      transition: all $nav-transition-speed ease-in-out;

      @media (min-width: $screen-sm) {
        display: inline-block;
        padding: 0;
        margin: $spacing-sm;

        &:last-child {
          margin-right: 0;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          opacity: 0;
          transition: all $nav-transition-speed ease-in-out;
          transform: translateY(4px);

          .sticked & {
            background-color: #000;
          }
        }

        &.active{
          &:after {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }

    .menu-contact {
      display: none;
      @media (min-width: $screen-sm) {
        display: inline-block;

        .js-openContact & {
          &:after {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

// Nav toggle
.js-openNav {
  overflow: hidden;
  .menu-items-box {
    opacity: 1;
    top: $nav-height;
    transform: translateY(0);
    backface-visibility: hidden;

    @media (min-width: $screen-sm) {
      top: auto;
    }
  }
}


// Contact form
.contact-form {
  border-top: 2px solid rgba(255,255,255,.8);
  padding: 0 $spacing-sm $spacing-md $spacing-sm;
  position: relative;

  // TODO: update this style
  .data-sent-message,
  .data-error-message {
    opacity: 0;
    transition: opacity $nav-transition-speed ease-in;
    position: absolute;
  }

  .data-sent-message {
    top: 90px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 0 20px;
  }

  .data-error-message {
    border: 1px solid $error-border-color;
    color: $error-border-color;
    padding: $error-padding;
    z-index: 9;
    background-color: $error-bg-color;
    left: 0;
  }

  &.data-sent {
    .data-sent-message {
      opacity: 1;
    }

    form {
      opacity: 0;
    }
  }

  &.data-sent-error {
    .data-error-message {
      opacity: 1;
    }
  }

  .contact-form-header {
    color: #fff;
    margin: $spacing-sm 0 0 0;
    font-weight: normal;
  }

  .contact-form-send {
    text-align: right;
    margin-top: $spacing-sm;
  }

  .form-field {
    position: relative;
    margin-bottom: $contact-field-margin;
  }

  @media (min-width: $screen-sm) {
    visibility: hidden;
    position: fixed;
    //top: $nav-height-lg - 10;
    right: 0;
    background-color: rgba(0,0,0,.8);
    border-top: 0;
    padding: $spacing-md $spacing-lg;
    min-width: 250px;
    max-width: 100%;
    backface-visibility: hidden;
    transition: all $nav-transition-speed ease-in-out;
    transform: translateX(100%);
    opacity: 0;

    .js-openContact & {
      visibility: visible;
      transform: translateX(0);
      opacity: 1;
    }
  }
}