@import '../utils';

$nav-bg-init:           #000;
$nav-bg-sticked:        #fafafa;

.sticky-menu {
  display: none;
}

.sticky-menu-desktop {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  background-color: rgba($nav-bg-init, .8);
  z-index: 1000;
  height: $nav-height;
  transition: all .2s .1s ease-in-out;

  @media (min-width: $screen-sm) {
    height: $nav-height-lg;
    &.sticked {
      background-color: rgba($nav-bg-sticked, .9);
      .header-wrap {
        max-width: 90%;/*$screen-sm + 50px*/;
      }
      .logo-link svg .txt {
        fill: black;
      }
      .menu-items-box .menu-item {
        color: black;
        &:after {
          background-color: black;
        }
      }
    }
  }

  .header-wrap {
    display: flex;
    align-items: center;
    margin: 0 $spacing-sm;
    transition: all .2s ease-in-out;
    @media (min-width: $screen-sm) {
      max-width: $screen-sm;
      margin: 0 auto;
    }

    // Nav toggle
    &.js-openNav {
      .menu-items-box {
        opacity: 1;
        top: $nav-height;
        transform: translateY(0);

        @media (min-width: $screen-sm) {
          top: auto;
        }
      }
    }
  }

  // Logotype
  .logo-link {
    display: block;
    overflow: hidden;
    //width: ($nav-height - 10);
    width: 14px;
    height: ($nav-height - 10);
    margin: 5px 0;
    /*background: transparent url('../../images/logo.png') center center no-repeat;
    background-size: contain;*/
    transition: all .2s ease-in-out;
    svg {
      display: block;
      width: 160px;
      height: ($nav-height - 10);
      transition: all .2s ease-in-out;
      .txt {
        transition: all .2s ease-in-out;
        opacity: 0;
      }
    }

    @media (min-width: $screen-sm) {
      background-image: none;
      height: ($nav-height-lg - 10);
      width: 230px;
      transition: width .2s ease-in-out;
      svg {
        width: 100%;
        height: ($nav-height-lg - 10);
        transition: all .2s .2s ease-in-out;
        .txt {
          transition: all .2s ease-in-out;
          fill: #fff;
          opacity: 1;
        }
      }
    }
  }

  // Hamburgermenu
  .hamburger-menu-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  // Navigation
  .menu-items-box {
    position: fixed;
    top: $nav-height; left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: $nav-height;
    background-color: rgba($nav-bg-init, .8);
    transition: all .1s ease-in-out;
    opacity: .6;
    transform: translateX(-100%);
    backface-visibility: hidden;
    overflow: auto;

    @media (min-width: $screen-sm) {
      position: relative;
      top: 0;
      padding-bottom: 0;
      text-align: right;
      transform: translateX(0);
      background-color: transparent;
      opacity: 1;
      z-index: 1;
      overflow: visible;
    }

    .menu-item {
      position: relative;
      color: white;
      display: block;
      margin: $spacing-sm 0;
      padding: 0 $spacing-sm;
      transition: all .1s ease-in-out;

      @media (min-width: $screen-sm) {
        display: inline-block;
        padding: 0;
        margin: $spacing-sm;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .menu-contact {
      display: none;
      @media (min-width: $screen-sm) {
        display: inline-block;
      }
    }
  }
}


// Contact form
.contact-form {
  border-top: 2px solid rgba(255,255,255,.8);
  padding: 0 $spacing-sm $spacing-md $spacing-sm;
  position: relative;

  // TODO: update this style
  .data-sent-message,
  .data-error-message {
    opacity: 0;
    transition: opacity .3s ease-in;
    position: absolute;
  }

  .data-sent-message {
    top: 90px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 0 20px;
  }

  .data-error-message {
    border: 1px solid $error-border-color;
    color: $error-border-color;
    padding: $error-padding;
    z-index: 9;
    background-color: $error-bg-color;
    left: 0;
  }

  &.data-sent {
    .data-sent-message {
      opacity: 1;
    }

    form {
      opacity: 0;
    }
  }

  &.data-sent-error {
    .data-error-message {
      opacity: 1;
    }
  }

  .contact-form-header {
    color: #fff;
    margin: $spacing-sm 0 0 0;
    font-weight: normal;
  }

  .contact-form-send {
    text-align: right;
    margin-top: $spacing-sm;
  }

  .form-field {
    position: relative;
    margin-bottom: $contact-field-margin;
  }

  @media (min-width: $screen-sm) {
    display: none; // Hide this for now
    position: fixed;
    top: $nav-height-lg;
    right: 0;
    background-color: rgba(0,0,0,.8);
    border-top: 0;
    min-width: 250px;
    max-width: 100%;
  }
}