@import "../utils";

.help-block {
  padding: $error-padding;
  font-style: normal;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $error-bg-color;
  border: 1px solid $error-border-color;
  z-index: 9;
  border-radius: 3px;
  color: $error-border-color;

  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-top: $error-arrow-height solid $error-bg-color;
    border-left: $error-arrow-height solid transparent;
    border-right: $error-arrow-height solid transparent;
    bottom: -$error-arrow-height;
    right: 20px;
  }
}

// Validation

.data-error-message,
.data-sent-message {
  display: none;
}

.data-sent {
  .data-sent-message {
    display: block;
    font-size: $font-size-lg;
    text-align: center;
    margin: $spacing-md 0;
  }
  .contact-form,
  .contact-form-header,
  .calculator-form-wrap,
  .calculator-form-header {
    display: none;
  }
}

.data-sent-error {
  .data-error-message {
    display: block;
    border: 1px solid $error-border-color;
    color: $error-border-color;
    padding: $error-padding;
    background-color: $error-bg-color;
    margin: $spacing-md 0;
  }
}

